@font-face {
    font-family: Montserrat Bold;
    src: url(Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}

body {
    background-color: #2e1a47;
}

.header {
    border-bottom: 3px solid #9979c2;
    margin-bottom: 75px;
}

.timer {
    color: #bb92f6;
    font-family: Montserrat;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.heading {
    color: #bb92f6;
    font-family: Montserrat Bold;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.input_area {
    height: 50px;
}

.input_box {
    display: block;
    width: 1000px;
    height: 50px;
    border: 10px double #74559c;
    border-radius: 50px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
}

.result {
    background-color: #bb92f6;
    width: 300px;
    height: 40px;
    margin: 20px auto 0 auto;
    padding: 10px;
    border: 10px double white;
    color: white;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 750;
    font-size: 30px;
    text-align: center;
}
.list {
    background-color: #d7a1f9;
    width: 1000px;
    height: 190px;
    margin: 150px auto 0 auto;
    border: 8px solid white;
    border-radius: 20px;
}

.row1 {
    display: flex;
    justify-content: space-evenly;
    font-family: Montserrat;
    margin: 10px;
    width: 970px;
}

.row2 {
    display: flex;
    justify-content: space-evenly;
    font-family: Montserrat;
    margin: 10px;
    width: 970px;
}

.row3 {
    display: flex;
    justify-content: space-evenly;
    font-family: Montserrat;
    margin: 10px;
    width: 970px;
}

.word {
    font-size: 25px;
    margin: 10px;
}

.score {
    color: white;
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 40px;
    margin-top: 10px;
}